@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

@font-face {
    font-family: segmentos;
    src: url(../programa/fonte/7SEGMENTALDIGITALDISPLAY.ttf);    
  }

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
}
#check:checked ~ section{
  margin-left: 250px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    font-family: 'Roboto', sans-serif;
    line-height: 65px;
    font-size: 20px;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 22px;
    
  }

  .segmentos{
    font-family: segmentos;
     color: darkgreen;
     background-color: black;
     font-size: 40px;
     border-radius: 20%;
     box-sizing: 2px;
     font-weight: bold;
  }


  .flex-container{
    justify-content: space-between ;
  }
  

.aside-left{
  margin-left: 10%;
  align-items: center;
  text-align: left;
}
.Programa-center{
  display: flex;
  flex-wrap: space-between;
}


.aside-right{
  margin-right: 10%;
  align-items: center;
  text-align: right;
}

.section{
  text-align: center;
}